# Copyright 2023 RobustMQ Team
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[workspace]
name = "robustmq"
members = [
    "src/mqtt-bridge/kafka",
    "src/mqtt-bridge/elasticsearch",
    "src/mqtt-bridge/redis",
    "src/mqtt-broker",
    "src/mqtt-edge",
    "src/amqp-plugins",
    "src/amqp-broker",
    "src/placement-center",
    "src/cli-command",
    "src/grpc-clients",
    "src/cmd",
    "src/common/base",
    "src/common/rocksdb-engine",
    "src/common/metadata-struct",
    "src/common/third-driver",
    "src/protocol",
    "src/journal-server",
    "src/journal-client",
    "src/storage-adapter",
    "tests",
]

resolver = "2"

[workspace.package]
version = "0.1.6"
edition = "2021"
license = "Apache-2.0"

[workspace.dependencies]
## async lib
futures = "0.3"
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.9", features = ["codec"] }
tokio-rustls = { version = "0.26", default-features = false, features = ["logging", "tls12", "ring"] }
## web lib
axum = { version = "0.7.2", features = ["ws"] }
axum-server = { version = "0.6.0", features = ["tls-rustls"] }
axum-extra = { version = "0.9.3", features = ["typed-header"] }
mysql = "*"
## serde lib
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
humantime-serde = "1.1.1"
## log lib
log4rs = "1.2.0"
log = "0.4.0"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.0", features = ["env-filter"] }
## cmd lib
clap-cargo = "0.14.1"
clap = { version = "4.4.7", features = ["derive"] }
## unit test lib
mockall = "0.13.1"
## text handle lib
regex = "1.10.4"
grep = "0.3.2"
## observability
prometheus = "0.13.3"
prometheus_exporter = "0.8"
prometheus-client = "0.23.1"
# b6783a10984146c62ceaa6997fef1385d2ee5ae8
#
opentelemetry = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", rev = "b6783a10984146c62ceaa6997fef1385d2ee5ae8", features = ["trace"] }
opentelemetry_sdk = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", rev = "b6783a10984146c62ceaa6997fef1385d2ee5ae8", features = ["rt-tokio"] }
opentelemetry-otlp = { git = "https://github.com/open-telemetry/opentelemetry-rust.git", rev = "b6783a10984146c62ceaa6997fef1385d2ee5ae8", features = ["grpc-tonic"] }
## other
signal-hook = "0.3.17"
lazy_static = "^1.4"
thiserror = "1"
bytes = { version = "1", features = ["serde"] }
futures-util = "0.3.30"
rocksdb = { version = "0.22.0", features = ["multi-threaded-cf"] }
tonic = "0.12.3"
tonic-build = "0.12.3"
bincode = "1.3.3"
prost = "0.13.2"
prost-build = "0.13.2"
prost-validate = {version = "0.2.6", features=["derive"]}
prost-validate-build = "0.2.6"
ahash = "0.8.7"
byteorder = "1.5.0"
toml = "0.8.8"
uuid = { version = "1.7.0", features = ["v4"] }
mobc = "0.8.3"
dashmap = { version = "6.0.1", features = ["serde"] }
snowflake = "1.3.0"
rumqttc = "0.24.0"
rustls-pemfile = "2"
paho-mqtt = { version = "0.12.5", default-features = false, features = [
    "bundled",
    "vendored-ssl",
] }
ipnet = "2.3.0"
os_info = "3.8.2"
openraft = { git = "https://github.com/databendlabs/openraft.git", features = [
    "serde",
    "type-alias",
    "loosen-follower-log-revert",
] }
validator = { version = "0.18", features = ["derive"] }
rand = "0.8.5"
opendal = { version = "0.51", features = ["services-s3"] }
#format
prettytable-rs = "^0.10"
googletest = "0.13.0"



## workspaces members
mqtt-bridge-kafka = { path = "src/mqtt-bridge/kafka" }
mqtt-bridge-elasticsearch = { path = "src/mqtt-bridge/elasticsearch" }
mqtt-bridge-redis = { path = "src/mqtt-bridge/redis" }
mqtt-broker = { path = "src/mqtt-broker" }
mqtt-edge = { path = "src/mqtt-edge" }
amqp-broker = { path = "src/amqp-broker" }
amqp-plugins = { path = "src/amqp-plugins" }
placement-center = { path = "src/placement-center" }
cli-command = { path = "src/cli-command" }
grpc-clients = { path = "src/grpc-clients" }
journal-server = { path = "src/journal-server" }
journal-client = { path = "src/journal-client" }
storage-adapter = { path = "src/storage-adapter" }
cmd = { path = "src/cmd" }
common-base = { path = "src/common/base" }
rocksdb-engine = { path = "src/common/rocksdb-engine" }
metadata-struct = { path = "src/common/metadata-struct" }
third-driver = { path = "src/common/third-driver" }
protocol = { path = "src/protocol" }
robustmq-test = { path = "tests" }

[profile.dev]
overflow-checks = false
incremental = true

[profile.release]
overflow-checks = false
