[package]
name = "metrics"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
prometheus = "0.13.3"
prometheus_exporter = "0.8"
lazy_static = "^1.4"
rlog = { path = "../rlog", version = "0.1.0" }