# Copyright 2023 RobustMQ Team
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Unit Test

on:
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/pull_request_template.md"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - ".github/ISSUE_TEMPLATE/**"
      - ".github/pull_request_template.md"

env:
  CARGO_TERM_COLOR: always
jobs:
  linux-tests:
    name: unit test
    runs-on: ubuntu-latest
    timeout-minutes: 60
    container:
      image: amd64/rust
    steps:
      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y clang libclang-dev cmake libssl-dev pkg-config

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4


      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2

      - name: Install latest nextest release
        uses: taiki-e/install-action@297054b27414ad8086f67963ce1033c02fe309c3 # v2
        with:
          tool: nextest

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@297054b27414ad8086f67963ce1033c02fe309c3 # v2
        with:
          tool: cargo-llvm-cov

      - name: Collect coverage data
          # Generate separate reports for nextest and doctests, and combine them.
        run: |
          cargo llvm-cov clean --workspace 
          cargo llvm-cov  nextest  --workspace --exclude=robustmq-test --exclude=grpc-clients  --lcov --output-path lcov.info

      - name: Upload coverage data to codecov
        # Run this step even if the test step fails. Upload it right now because
        # we're most interested in the JUnit report generated by the local
        # version of nextest, not the latest release.
        uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3 # v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: lcov.info
